{# custom: better then material's palette #}
<div class="md-header__options">
  <div class="md-header-nav__scheme md-header-nav__button md-source__icon md-icon">
    <a href="javascript:toggleScheme();" title="Toggle theme" class="theme-toggle-button">
      <span class="theme-icon icon-light" style="display: none;">
        {% set icon = "material/weather-sunny" %}
        {% include ".icons/" ~ icon ~ ".svg" %}
      </span>
      <span class="theme-icon icon-dark" style="display: block;">
        {% set icon = "material/weather-night" %}
        {% include ".icons/" ~ icon ~ ".svg" %}
      </span>
    </a>
  </div>
</div>
<style>
   [data-md-color-scheme="slate"] .theme-toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
</style>